<p>trip works!</p>



<!-- <ng-select [items]="simpleItems"
         [(ngModel)]="selectedSimpleItem"
         [searchable]="true"
         >
</ng-select> -->

<div style="margin-left:50px">

  <form class="example-form">
    <mat-form-field id="form-field-1" class="example-full-width" appearance="fill">
      <mat-label>Start Point</mat-label>
      <input type="text"

             placeholder="Pick one"
             aria-label="Address"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete id="mat-autocomplete-1" #auto="matAutocomplete" [displayWith]="displayFn"  (optionSelected)='selectOption($event)'>
        <mat-option id="mat-option-1" *ngFor="let option of filteredOptions | async" [value]="option">
          {{option.zipcode }} , {{option.place}} , {{option.state}}
        </mat-option>

      </mat-autocomplete>
    </mat-form-field>
  </form>

</div>


<div style="margin-left:50px">

  <form class="example-form">
    <mat-form-field id="form-field-2" class="example-full-width" appearance="fill">
      <mat-label>End Point</mat-label>
      <input type="text"

             placeholder="Zip codes"
             aria-label="Address"
             matInput
             [formControl]="myControlEnd"
             [matAutocomplete]="autoEnd">
      <mat-autocomplete id="mat-autocomplete-2" #autoEnd="matAutocomplete" [displayWith]="displayFn"  (optionSelected)='selectOptionEnd($event)'>
        <mat-option id="mat-option-2" *ngFor="let optionEnd of filteredOptionsEnd | async" [value]="optionEnd">
          {{optionEnd.zipcode }} , {{optionEnd.place}} , {{optionEnd.state}}
        </mat-option>

      </mat-autocomplete>
    </mat-form-field>

  </form>


</div>



