<p>trip works!</p>



<!-- <ng-select [items]="simpleItems"
         [(ngModel)]="selectedSimpleItem"
         [searchable]="true"
         >
</ng-select> -->

<div style="margin-left:50px">

  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Number</mat-label>
      <input type="text"

             placeholder="Pick one"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete"  (optionSelected)='selectOption($event)'>
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option.description}}
        </mat-option>

      </mat-autocomplete>
    </mat-form-field>
  </form>

</div>



