<nav class=" mainnavbar navbar navbar-expand-lg navbar-dark p-3" id="headerNav">
  <div class="container-fluid">
    <a class="navbar-brand d-block d-lg-none" routerLink="">
      <img src="/static_files/images/logos/logo_2_white.png" height="80"/>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto ">
        <li class="nav-item">
           <a class="nav-link mx-2 " routerLink="">Trip</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 " routerLink="/calculate_electricity">Calculate electricity</a>
        </li>
        <li class="nav-item d-none d-lg-block">
          <a routerLink="">
            <img src="../assets/img/sc_notext.png"/>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 " routerLink="/products">Products</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 " routerLink="/testing_drive">Testing Drive</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<router-outlet></router-outlet>
<footer>
  <img class="footer"src="../assets/img/footer2.png">
</footer>
<div class="copywrite">
  <p>© 2023 ScooTeq GmbH</p>
</div>


