<p>
  <mat-toolbar class="toolbar" color="primary">
    <a href="#">
      <img src="../assets/img/sc_notext.png"/>
    </a>
    <span class="example-spacer"></span>
    <span class="label-name">ScooTeq</span>
</mat-toolbar>
</p>
<button *ngIf="!isStart" (click)="changeStatusStart()">

  Start Price

</button>

<button *ngIf="isStart" (click)="pausePrice()">

  Pause

 </button>

<button *ngIf="isStart" (click)="changeStatusStart()">

 Stop123

</button>





 <div *ngIf="isStart">
  <h2 class="price" >
    Your Price for trip is:  <app-increment-price></app-increment-price> €
  </h2>
 </div>



<div class="animation">
   <img class="animation-scooter" src="assets/img/sc_notext.png">
</div>

