<h1 style="text-align:center">Charge battery</h1>

<div>
  <div class="row" style="justify-content: center;">
    <div class="col-sm-6 col-md-4 mb-4">
      <div class="con">
        <button class="btn prod_button" (click)="chargeSmallScooter(); playChargingSound()">
          <img src="./assets/sc01.png" alt="" class="products">
          <div class="m">
            <div class="text">Charge battery to 100%</div>
          </div>
        </button>
        <p class="e_text">Charge battery in 15 Minutes</p>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 mb-4">
      <div class="con">
        <button class="btn prod_button" (click)="chargeBikeScooter(); playChargingSound()">
          <img src="./assets/sc2.png" alt="" class="products">
          <div class="m">
            <div class="text">Charge battery to 100%</div>
          </div>
        </button>
        <p class="e_text">Charge battery in 25 Minutes</p>
      </div>
    </div>
  </div>
</div>



