.btn{
  weight: 50px;
  margin: 0 5px 0 0
}
.for-button{
  text-align: center;
}

.btn-inline {
  display: inline-block;
}
img {
  width: 120px;
}
.toolbar{
  height: 100px;
  background-color: rgba(34,231,29,255);
  color: green
}
.label-name{
  color: #fff;
  font-family: sans-serif;
  font-size: 50px;
  margin: 0 60% 0 30%;
}
.animation{
  width: 100%;
}
.animation-scooter{
  margin: 0 0 0 -400px;
  width: 30%;
  height: 30%;
  transition: transform 10s ease-in;
  animation: left-to-right 5s ease-in infinite forwards;
}

@keyframes left-to-right {
  100% {
    transform: translateX(450%);
  }
}
.price{
  text-align: center;
}
.akku{
  justify-content: center;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
}
.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.batteryShape{
 position: relative;
 width: 140px;
 height: 65px;
 margin: 20px 0;
 border: 3px solid #333;
 border-radius: 10px
}
.batteryShape::before{
  content: '';
  position: absolute;
  top: 50%;
  right: -12px;
  transform: translateY(-50%);
  width: 7px;
  height: 16px;
  background: #333;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.level{
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  //background: #333;
  border-radius: 4px;
  overflow: hidden;
}

.percentage{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  //width: 50%;
  //width: $batteryPercent;
  border-radius: 4px;
  background: linear-gradient(90deg, #de1010, #13fb00);
}

