 <!-- <div *ngIf="!isStop">
    <button *ngIf="!isStart" (click)="changeStatusStart()"> -->

 <div  *ngIf="!isStop" class="for-button">
    <button class="btn btn-info" *ngIf="!isStart" (click)="changeStatusStart()">
        Start Price
      </button>
      <button  class="btn btn-danger"  *ngIf="isStart" (click)="changeStatusStart()">
       Stop
      </button>
      
      <div *ngIf="isStart"  style="display:inline-block">
      
            <button style="display:inline-block" class="btn-inline" *ngIf="!isPause"  class="btn btn-warning"   (click)="pausePrice()">
                Pause
               </button>
       
       
            <button style="display:inline-block"  class="btn btn-secondary"  *ngIf="isPause"  (click)="pausePrice()">
                Continute
               </button>
   
      
      </div>
    <!-- <button *ngIf="!isPause" mat-raised-button color="accent" (click)="pausePrice()"> -->
 
  
 </div>

 <h2 *ngIf="!isStop" class="price" class="for-button">
    Your Price for trip is:  {{price.toFixed(2)}}  €
  </h2>

  <h2 *ngIf="isStop" class="price" class="for-button">
    Trip done with:  {{price.toFixed(2)}}  €
  </h2>





