 <div class="for-button">
    <button class="btn btn-info" *ngIf="!isStart" (click)="changeStatusStart()">
        Start Price
      </button>
      <button  class="btn btn-danger"  *ngIf="isStart" (click)="changeStatusStart()">
       Stop
      </button>
    <button  class="btn btn-warning"  *ngIf="!isPause"  (click)="pausePrice()">
        Pause
       </button>
    <button class="btn btn-secondary"  *ngIf="isPause"  (click)="pausePrice()">
        Continute
       </button>
   <h2 class="price">
     Your Price for trip is:  {{price.toFixed(2)}}  €
   </h2>
 </div>







