<div class="middle">
  <h1> Select your E-Transport</h1>
  <h2> and enjoy</h2>
</div>
<div>
  <div class="row" style="justify-content: center;">
    <div class="col-sm-6 col-md-4 mb-4">
      <button class=" btn prod_button" (click)="chooseScooteSmall()">
        <img src="./assets/sc01.png" alt="" class=" products" >
      </button>
        <p class="e_text">E-ScooTeq drive fast for the best price, only for 0.21€/min.</p>
    </div>
    <div class="col-sm-6 col-md-4 mb-4">
      <button class=" btn prod_button" (click)="chooseScooteBike()">
        <img src="./assets/sc2.png" alt="" class=" products"  >
      </button>
      <p class="e_text">E-ScooTeq Bike drive comfortably only for 0.31€/min.</p>
    </div>
  </div>
</div>
