<h1 style="text-align:center">Select your E-Transport</h1>
<h2 style="text-align:center">and enjoy</h2>

<div>
  <div class="row" style="justify-content: center;">
    <div class="col-sm-6 col-md-4 mb-4">
      <div class="con">
        <button class=" btn prod_button" (click)="chooseScooterSmall()">
          <img src="./assets/sc01.png" alt="" class="products">
        </button>
      </div>
      <p class="e_text">E-ScooTeq drive fast for the best price, only for 0.21€/min.</p>
    </div>
    <div class="col-sm-6 col-md-4 mb-4">
      <div class="con">
        <button class=" btn prod_button" (click)="chooseScooterBike()">
          <img src="./assets/sc2.png" alt="" class="products">
        </button>
        <p class="e_text">E-ScooTeq Bike drive comfortably only for 0.31€/min.</p>
      </div>
    </div>
  </div>
</div>
